*{
    margin: 0;
    padding: 0;

}
h1{
    position: absolute;
    left: 650px;
    top: 125px;
}
.para1{
    display: inline-block;
    position: absolute;
    left: 845px;
    width: 495px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-variant-ligatures: normal;
    top: 79px;
}
.para2{
    width: 475px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-variant-ligatures: normal;
    position: absolute;
    top: 413px;
    margin: 25px;


}
img{
    top: 188px;
    position: absolute;
    left: 514px;
    width: 320px;
    border-radius: 15px;
}
.more{
    text-decoration: none;
    margin: 2px;
    height: 1px;
    padding: 17px;
}
h3{
    left: 24px;
    position: absolute;
    top: -32px
}
.more a:hover{
    background-color: rgb(247, 240, 231);
    border: 2px solid grey;
    border-radius: 7px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
